[submodule "HazelVariant/vendor/spdlog"]
	path = HazelVariant/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "HazelVariant/vendor/GLFW"]
	path = HazelVariant/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "HazelVariant/vendor/imgui"]
	path = HazelVariant/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "HazelVariant/vendor/glm"]
	path = HazelVariant/vendor/glm
	url = https://github.com/g-truc/glm
